.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 820px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}

@media (max-width: 620px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
